.truncate-2 {
    text-overflow:ellipsis;
    overflow:hidden;
    /* // Addition lines for 2 line or multiline ellipsis */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    display: -webkit-box !important;
  }