table {
    width: 100%;
    border: none;
}
th {
    border-bottom: 1px solid #dddddd;
}
td,
th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    color: red;
}